<app-header></app-header>


<div class="d-flex">

    <div class="sidebar pl-3 pt-4">
        <ul>
            <li>
                <a routerLink="/admin">
                    <div>Home</div>
                </a>
            </li>
            
            <li>
                <a routerLink="/addProduct">
                    <div>Add Product</div>
                </a>
            </li>
            <li>
                <a routerLink="/updateProduct">
                    <div>Update Product</div>
                </a>
            </li>

            <li>
                <a routerLink="/allOrders">
                    <div>Show Orders</div>
                </a>
            </li>
            
        </ul>

    </div>
    <!-- ----------End sidebar---------- -->
<div class="margin">
    <app-list-products></app-list-products>

</div>




</div>
<!-- ----------sidebar-------------- -->




<app-footer></app-footer>