    <!-- ***** Women Area Starts ***** -->
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Women's Latest</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 text-center width">
            <div class="row mb-2">
                
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <a href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <div class="carousel-nav-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-10">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
    
                                    <div routerLink="/product/id">
                                        <div class="image">
                                            <img src="assets/images/baner-right-image-02.jpg" class="img-fluid rounded-top"
                                                alt="" />
                                        </div>
                                        <div class="down-content">
                                            <div class="m-2 d-flex justify-content-between">
                                                <h4>womenProducts.title</h4>
                                                
                                                <ul class="stars  d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <p class="ml-2">womenProducts.description</p>
                                            <span class="cost">womenProducts.price</span>
    
                                            
                                        </div>
                                    </div>
                                    <div routerLink="/product/id">
                                        <div class="image">
                                            <img src="assets/images/baner-right-image-02.jpg" class="img-fluid rounded-top"
                                                alt="" />
                                        </div>
                                        <div class="down-content">
                                            <div class="m-2 d-flex justify-content-between">
                                                <h4>Classic Spring</h4>
                                                <ul class="stars  d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <span class="cost">$120.00</span>
    
                                            
                                        </div>
                                    </div>
                                    <div routerLink="/product/id">
                                        <div class="image">
                                            <img src="assets/images/baner-right-image-02.jpg" class="img-fluid rounded-top"
                                                alt="" />
                                        </div>
                                        <div class="down-content">
                                            <div class="m-2 d-flex justify-content-between">
                                                <h4>Classic Spring</h4>
                                                <ul class="stars  d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <span class="cost">$120.00</span>
    
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div routerLink="/product/id">
                                        <div class="image">
                                            <img src="assets/images/baner-right-image-02.jpg" class="img-fluid rounded-top"
                                                alt="" />
                                        </div>
                                        <div class="down-content">
                                            <div class="m-2 d-flex justify-content-between">
                                                <h4>Classic Spring</h4>
                                                <ul class="stars  d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <span class="cost">$120.00</span>
    
                                            
                                        </div>
                                    </div>
                                    <div routerLink="/product/id">
                                        <div class="image">
                                            <img src="assets/images/baner-right-image-02.jpg" class="img-fluid rounded-top"
                                                alt="" />
                                        </div>
                                        <div class="down-content">
                                            <div class="m-2 d-flex justify-content-between">
                                                <h4>Classic Spring</h4>
                                                <ul class="stars  d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <span class="cost">$120.00</span>
    
                                            
                                        </div>
                                    </div>
                                    <div routerLink="/product/id">
                                        <div class="image">
                                            <img src="assets/images/baner-right-image-02.jpg" class="img-fluid rounded-top"
                                                alt="" />
                                        </div>
                                        <div class="down-content">
                                            <div class="m-2 d-flex justify-content-between">
                                                <h4>Classic Spring</h4>
                                                <ul class="stars  d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <span class="cost">$120.00</span>
    
                                            
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center"><a href="#carouselExampleIndicators"
                        data-slide="next">
                        <div class="carousel-nav-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </section>
    <!-- ***** Women Area Ends ***** -->

