<app-header></app-header>

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Hexashop</h4>
                            <!-- <span>Awesome, clean &amp; creative HTML5 Template</span> -->
                            
                        </div>
                        <img src="../../../assets/images/pexels-photo-17917176.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <p>Here are best collection for women sporty Clothes.</p>
                                            <div class="main-border-button">
                                                <a routerLink="/allProduct/all">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/free-photo-of-woman-in-sportswear-standing-on-a-tennis-court.jpeg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>Here are best collection for men sporty Clothes.</p>
                                            <div class="main-border-button">
                                                <a routerLink="/allProduct/all">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/pexels-photo-8032896.webp">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kids</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kids</h4>
                                            <p>Here are best collection for Kids sporty Clothes.</p>
                                            <div class="main-border-button">
                                                <a routerLink="/allProduct/all">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/pexels-photo-9654718.webp">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<app-men></app-men>
<!-- <app-women></app-women>
<app-kids></app-kids> -->
<app-explore></app-explore>
<app-footer></app-footer>